*{
    margin: 0;
}

html{
    font-size: x-large;
}

.header {
    background: #034f06;
    text-align: left;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

#editor { 
    font-size: large;
    /* float: left; */
    width: 65%;
    height: 450px; 
    /* margin: 1%; */
}

.container{
    text-align: left;
    border: solid;  
    border-width: 1px;
    border-color: rgb(38, 28, 28);
    align-items: center;
}
.container3{
    display: flex;
    border-width: 0.1px;
    justify-content: space-between;
    /* border: solid; */
    border-color: rgb(38, 28, 28);
    align-items: center;
}

#button-container {
    /* background-color: rgb(40, 247, 40); */
    margin-left: 15px;
    width: fit-content;
    text-align: center;
    border: solid;  
    border-width: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn{
    margin: 1%;
    padding: 3px;
    display: flex;
    cursor: pointer;
}

.btn img{
    width: 20px;
}

.dark{
    background-color:rgb(7, 100, 2) ;
}
.light{
    background-color: rgb(19, 238, 8);
}


.input {
    font-size: large;
    background-color: rgb(45, 45, 45);
    color: aliceblue;
    height: 98%;
    width: 100%;
}

.inputbox{
    height: 450px;
    width: 31%; 
    /* float: right; */
    margin-right: 1%; 
}

.outputbox{
    font-size: large;
    background-color:rgb(45, 45, 45);
    color: aliceblue;
    border-radius: 2%;
    height: 500px;
    width: 31%; 
    margin-left: 1%;
}

.container{
    margin: 1px;
    padding: 2px;
}

.container1{
    justify-content: end;
    padding: 1px;
    display: flex;
    align-items: center;
    margin: 1px;
    padding-right: 5%;
}

.select{
    min-width: 20%;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#selected{
    display: flex; 
    padding-left: 4%; 
    align-items: center;
}

#fild{
    width: 94%;
    box-sizing: border-box; 
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
}

#fild img{
    width: 20px;
}

#list{
    justify-content: left;
    position: absolute;
    width: 17%;
    border-radius: 10%;
    margin-top: 2px;
    padding: 1%;
    overflow: hidden;
    background-color: aliceblue;
}

.options{
    position: relative;
    width:100%;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.options img{
    width: 20px;
}

.options:hover{
    background-color: rgb(50, 52, 52);
}

.hide{
    display: none;
}

.arrow{
    transform: rotate(180deg);
}

#message{
    position: fixed;
    top: 3%;
    right: 1%;
   
}

.alert {
    width: max-content;
    background-color: azure;
    border-radius: 6px;
    margin-left: 1%;
    border: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;  
}